# App
APP_NAME="App FastAPI ecommerce"
DEBUG=false
ENVIRONMENT="development"
SECRET_KEY="supper_pupper_insecure_default_key"

# Database
POSTGRES_USER="PostgresUsername"
POSTGRES_PASSWORD="password"
POSTGRES_DB="fastapi_db"
DB_HOST="localhost"
DB_PORT=5432
DB_DEBUG='false'

